*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor:url('@/../../../public/assets/curser.png')5 5,auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width:10px; /* Width of the scrollbar */

}

::-webkit-scrollbar-thumb {
  background-color: #035db8; /* Dark blue color */
  border-radius: 6px; /* Optional: rounded edges */
  cursor:grabbing;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background for the track */
  border-radius: 6px; /* Optional: rounded edges */
}

::-webkit-scrollbar-button {
  display: none; /* Hides the scrollbar arrows */
}


@media (max-width:991px) {
 /* Custom Scrollbar */
::-webkit-scrollbar {
  width:0px; /* Width of the scrollbar */

} 
}